<h3>Número de Parroquias {{ numero_parroquias }}</h3>

<ul>
  {% for p in parroquias %}
  <li>
    {{p}} - [<a href="{% url 'editar_parroquia' p.id %}">Editar</a>]
    <ul>
      {% for b in p.barrios.all %}
      <li>
        <span>{{b.nombre}} - {{b.num_viviendas}} - {{b.num_parques}} -
          {{b.num_edificios}} - [<a href="{% url 'editar_barrio' b.id %}"
            >Editar</a>]
        </span>
      </li>
      {% endfor %}
    </ul>
    [<a href="{% url 'crear_barrio_parroquia' p.id %}">+Barrio</a>]
  </li>
  <hr />

  {% endfor %}
</ul>
<br />
[<a href="{% url 'obtener_barrio' %}">Ver barrios</a>]
<br />
[<a href="{% url 'crear_parroquia' %}">Agregar parroquia</a>]